/* Responsive Design */
@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}

@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background: -moz-linear-gradient(left top, #0003CC, #0000FF, #6100FF);
    background: -webkit-linear-gradient(left top, #0003CC, #0000FF, #6100FF);
    background: -ms-linear-gradient(left top, #0003CC, #0000FF, #6100FF);
    background: -o-linear-gradient(left top, #0003CC, #0000FF, #6100FF);
    background: linear-gradient(to bottom right, #0003CC, #0000FF, #6100FF);
    /* background: linear-gradient(to bottom right, #3700D9, #6700D9); */
    color: white;
    font-family: "Avenir Next", "Segoe UI", "Helvetica Neue", sans-serif;
    font-size: 3.5vh;
    font-weight: 100;
}

#content {
    height: 100%;
    margin: auto;
    position: relative;
    text-align: center;
    width: 90%;
}

#vertical {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#name {
    font-size: 2.5em;
    font-weight: 100;
    line-height: 1.5;
}

.job {
    font-weight: 400;
}

#buttons {
    margin-top: 1em;
}

.button {
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: .5em;
    font-weight: 500;
    margin: 0 20px;
    padding: 20px;
    text-decoration: none;
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
    width: 100px;
}

a.button:hover {
    background-color: rgba(255, 255, 255, .25);
}
